language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - "10"
before_install:
  - npm i
before_script:
  - npm prune
script:
  - npm run test
after_success:
  - npm run test:coverage
branches:
  only:
    - master
